#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// / {
//     combos {
//         compatible = "zmk,combos";
//         combo_studio_unlock {
//             timeout-ms = <50>;
//             key-positions = <0 1>;
//             bindings = <&studio_unlock>;
//         };
//     };
// };

&mt {
  quick-tap-ms = <100>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <170>;
};

/ {
     combos {
            compatible = "zmk,combos";
            combo_esc {
                timeout-ms = <50>;
                key-positions = <0 1>;
                bindings = <&kp ESC>;
            };
            combo_tvp {
                timeout-ms = <100>;
                key-positions = <11 12 13>;
                bindings = <&tog TVP1>;
            };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp N2>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp G &kp I &kp F>
                ;
        };
    };


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            sensor-bindings =  sensor-bindings = <&inc_dec_kp LGUI(LCTRL(LEFT)) LGUI(LS(UP)) &inc_dec_kp LGUI(LSHFT(DOWN)) LGUI(LSHFT(UP))>; # <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

            bindings = <
&kp Q    &kp W &kp E     &kp R      &kp T    &kp Y &kp U &kp I     &kp O    &kp P
&kp A    &kp S &kp D     &kp F      &kp G    &kp H &kp J &kp K     &kp L    &kp SEMI
&kp Z    &kp X &kp C     &kp V      &kp B    &kp N &kp M &kp COMMA &kp DOT  &kp FSLH
&kp LGUI &mo 1 &kp RET &kp C_MUTE                &none &kp SPACE   &mo 2    &kp LALT
            >;
        };

        lower_layer {
            display-name = "lower";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

            bindings = <
&kp N1       &kp N2       &kp N3       &kp N4       &kp N5          &kp N6   &kp N7   &kp N8  &kp N9    &kp N0
&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &kp LEFT &kp DOWN &kp UP  &kp RIGHT &trans
&kp F1       &kp F2       &kp F3       &kp F4       &kp F5          &kp F6   &kp F7   &kp F8  &kp F9    &kp F10
&kp LGUI     &trans       &kp SPACE    &bootloader                           &none    &kp RET &trans    &kp LALT
            >;
        };

        raise_layer {
            display-name = "raise";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

            bindings = <
&kp EXCL &kp AT &kp HASH  &kp DLLR &kp PRCNT    &kp CARET &kp AMPS    &kp KP_MULTIPLY &kp LPAR &kp RPAR
&trans   &trans &trans    &trans   &trans       &kp MINUS &kp EQUAL   &kp LBKT        &kp RBKT &kp BSLH
&trans   &trans &trans    &trans   &trans       &kp UNDER &kp PLUS    &kp LBRC        &kp RBRC &kp PIPE
&kp LGUI &trans &kp SPACE &none                           &bootloader &kp RET         &trans   &kp LALT
            >;
        };

        extra1 {
            display-name = "extra1";
            status = "reserved";
        };

        extra2 {
            display-name = "extra2";
            status = "reserved";
        };
    };
};
